<div class="side-by-side-boxes" style="margin-bottom: 20px;">
    <div class="side-box" id="name-request-box">
        <a href="https://bsky.social/about/blog/4-28-2023-domain-handle-tutorial" target="_blank">
            <img src="assets/bluesky.svg" alt="Bluesky">
        </a>
        <p>Want to use your <strong>reverie.house</strong> name?</p>
        <p>Simply set your handle to<br><code>name.reverie.house</code><br>in your account settings.</p>
        <button class="request-key-button" onclick="window.open('https://bsky.app/profile/reverie.house/post/3lljjzcydwc25', '_blank')">
            Request Name
        </button>
    </div>
    <div class="side-box" id="key-info-box">
        <img src="assets/icon_transp.png" alt="Icon" style="width:50px; height:50px; margin-bottom:10px;">
        <p>Do you have a key like this?<br><code><b>reverie-house-gkjor-wt5ih</b></code></p>
        <p style="margin-top: -5px;">Create a new Bluesky account.<br>Set account provider to custom:<br><code>https://reverie.house</code></p>
        <button class="request-key-button" onclick="window.open('mailto:books@reverie.house?subject=Reverie%20House%20Key&body=Hey%20dreamer,%0AMy%20name%20is%20errantson.%0AWe%20may%20have%20met%20in%20a%20dream.%0AI%20am%20a%20dreamweaver,%20are%20you?', '_blank')">
            Request Key
        </button>
    </div>
</div>
